body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* добавим отступы у нава */
nav {
  padding: 0 1rem;
}
/* прижимаем футер к низу путем вычета из минимальной высоты маина суммы шапки и футера  100% - (64 + 70)*/
.content {
  min-height: calc(100vh - 134px);
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

/* зададим направление елементам карточки */
.card {
  display: flex;
  flex-direction: column;
}

/* зададим одному елементу карточки контеннту (назв. + описание) рост по необходимости (flex-grow) - 1 */
.card-content {
  flex-grow: 1;
}

/* для моб расстягиваем картинку */
img, iframe{
  max-width: 100%;
}

iframe {
  width: 600px;
  height: 350px;
}




/* .search-btn {
  position: absolute;
  top: 0;
  right: 0.5rem;
} */
/* добавим радиокнопкам отступы справа всем лебл кроме последнего*/
/* label:not(:last-child) {
  margin-right: 3rem;
} */ 
